

:root{
   
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
    --cor-fundo: transparent ;
    --cor-principal: #0B0D20 ;
    --cor-secundaria: #212333; 
    --cor-destaque: #121a85;
    --cor-texto: #D7F9FF;

}

body {
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
      background-image: url("/home/escola/Área de Trabalho/kk/imagem.1.png");
          background-repeat: no-repeat;
          background-size: cover;
}

.caixa-principal{
    background-color: var(transparent);
    background-color: transparent;
    width: 90%;
    max-width: 1000px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}

button {
  background-color: transparent;
    color: var(--cor-secundaria);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.1s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}